<!DOCTYPE html>
<html>
  <head>
        <meta charset="UTF-8">
        <title>chatting tool prac</title>
        <link rel="stylesheet" href="sample.css">
    </head>
  <body>
    <p class="title">chatting tool prac</p>
    <div id="area1">
        <button type="button" id="send_btn">送信</button>
        <br>
        <input type="text" id="send_tBox" class="font-main" />
    </div>
    <div id="area2">
        <button type="button" id="receive_btn">受信</button>
        <br>
        <input type="text" id="receive_tBox" class="font-main" />
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
  </body>
</html>